# KiCad backup files
*.bak
*-backups/
_autosave-*
*~

# KiCad lock files
*.lck

# KiCad local settings
*.kicad_prl
fp-info-cache

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Temporary files
*.tmp
*.temp
